#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 > #backgroundBox {
  position: absolute;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 > #alignmentBox {
  position: relative;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 {
  position: absolute;
  width: 1920.0000000000014px;
  min-height: 1078.6307131689568px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F2F3F4;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Path_1 {
  position: absolute;
  width: 1574.0px;
  height: 3.0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_23 {
  position: absolute;
  width: 176.0px;
  height: 82.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 {
  position: absolute;
  width: 486.00000000000045px;
  min-height: 110.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #A8A8A8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #A8A8A8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #A8A8A8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #A8A8A8;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 span#rtr-s-Rectangle_6_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_6 span#rtr-s-Rectangle_6_2 {
  color: #0052FF;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_1 {
  position: absolute;
  width: 440.0000000000001px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_1 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 {
  position: absolute;
  width: 486.00000000000057px;
  min-height: 110.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #A8A8A8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #A8A8A8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #A8A8A8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #A8A8A8;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 span#rtr-s-Rectangle_7_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_7 span#rtr-s-Rectangle_7_2 {
  color: #0052FF;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_2 {
  position: absolute;
  width: 440.0000000000001px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_2 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 {
  position: absolute;
  width: 345.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 .valign {
  vertical-align: middle;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 11.0pt;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #A8A8A8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #A8A8A8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #A8A8A8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #A8A8A8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Input_4 .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 6px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_6 {
  position: absolute;
  width: 102.9052734375px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 22.5pt;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 22.5pt;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_37 {
  position: absolute;
  width: 33.25px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Line {
  position: absolute;
  width: 1402.8687744140625px;
  height: 5.0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 {
  position: absolute;
  width: 486.00000000000057px;
  min-height: 110.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #A8A8A8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #A8A8A8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #A8A8A8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #A8A8A8;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 span#rtr-s-Rectangle_8_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_8 span#rtr-s-Rectangle_8_2 {
  color: #0052FF;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_3 {
  position: absolute;
  width: 440.0000000000001px;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IBM Plex Serif',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_3 .paddingLayer:first-child {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'IBM Plex Serif',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_4 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_14 .imageViewport > * {
  width: 132.85714285714295%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_14 {
  position: absolute;
  width: 279.99999999999983px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_2 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_2 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_15 .imageViewport > * {
  width: 132.85714285714286%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_15 {
  position: absolute;
  width: 279.99999999999994px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_8 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_8 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_16 .imageViewport > * {
  width: 132.85714285714297%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_16 {
  position: absolute;
  width: 279.9999999999997px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_16 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_5 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_5 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_17 .imageViewport > * {
  width: 132.85714285714306%;
  height: 99.99999999999987%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_17 {
  position: absolute;
  width: 279.9999999999996px;
  height: 85.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_17 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_6 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_6 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_7 {
  position: absolute;
  width: 70.0px;
  height: 85.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_7 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_13 .imageViewport > * {
  width: 132.85714285714306%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_13 {
  position: absolute;
  width: 279.9999999999996px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_3 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_18 .imageViewport > * {
  width: 132.85714285714312%;
  height: 99.99999999999987%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_18 {
  position: absolute;
  width: 279.99999999999943px;
  height: 85.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_18 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_9 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_9 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_19 .imageViewport > * {
  width: 132.8571428571433%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_19 {
  position: absolute;
  width: 279.9999999999991px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_19 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_1 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_1 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_20 .imageViewport > * {
  width: 132.8571428571433%;
  height: 99.99999999999987%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_20 {
  position: absolute;
  width: 279.9999999999991px;
  height: 85.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_20 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_11 {
  position: absolute;
  width: 70.0px;
  height: 85.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_11 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #00264B;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_21 .imageViewport > * {
  width: 132.8571428571433%;
  height: 99.99999999999974%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_21 {
  position: absolute;
  width: 279.9999999999991px;
  height: 85.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_21 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #001F3C;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #001F3C;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 {
  position: absolute;
  width: 280.0000000000002px;
  min-height: 104.59715136022237px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #00264B;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 {
  position: absolute;
  width: 69.00000000000011px;
  min-height: 104.59715136022203px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFC700;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_22 {
  position: absolute;
  width: 350.99999999999983px;
  height: 125.49720670391068px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_10 .imageViewport > * {
  width: 132.85714285714283%;
  height: 100.0%;
  left: -0.0%;
  top: -0.0%;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 #s-Image_10 {
  position: absolute;
  width: 280.00000000000006px;
  height: 82.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e13710de-ad2d-49aa-8578-fc4cfbc491a1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
